body       {font-family: "Helvetica", sans-serif;
    font-size: 16px}
h1     {color: #F9C74F;
    text-align: center;
    float: left;
    padding: .5em .5em;}
h2     { color: #F94144;
       text-align: left}
h3     { color: #594844;}
p          {color: #577590;}
form       { margin:.1em auto;
    padding:.1em;
    width: 80vw}

.heading    { font-weight:
        bold;
    outline: none;
    color: #00AFB9;
    font-size:5em}
.subheading    { font-weight: bold;
    outline: none;
    color: #577590;
    font-size:3em}
.page      { margin:auto; width: 90vw; }
.navbar    {background-color: #4D908E;
    text-align: center;
    padding: .5em;
    height: 5em}
.navbar a  {float: right;
    color:#F9844A;
    font-weight:bold;
    text-align:center;
    padding: .5em .5em;
    font-size:1em}
input[type=text] {  padding: .5em;
    font-weight: bold;
    font-size: 2em;
    color: #577590;
    width: 60vw;
    border: 0px none;
    outline: none}
